Calendar Booking Automation/Calendar booking automation.json
{
  "name": "Calendar booking automation",
  "nodes": [
    {
      "parameters": {
        "events": [
          "BOOKING_CREATED"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.calTrigger",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "c49a5bd6-880a-4631-9a88-7a2a001f8086",
      "name": "Cal.com Trigger",
      "webhookId": "30a090d1-0674-4f56-b870-8e014b98259a",
      "credentials": {
        "calApi": {
          "id": "pIAjHOXY2Q5poLOk",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=The person's name is  {{ $json.attendees[0].name }}.\nThey've booked an appointment for date at time. {{ $json.startTime }}\n"
            },
            {
              "content": "you're a personal assistant for Shivansh. \n\nFor each appointment that gets booked into Shivansh's calendar, you have to prepare a confirmation message for the person that their appointment is successfully booked.\n\nYou'll be given the attendee's name and the time for the appointment(in ISO 8601 format) as an input message.\n\nAlso, generate a link for the attendee to add this event into their google calendar, and include that link in the message.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        208,
        0
      ],
      "id": "4f4f02a6-4e12-4d36-979b-a92343375c3e",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "F0TmuaSMAhWVpncC",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Cal.com Trigger').item.json.attendees[0].email }}",
        "subject": "={{ $('Cal.com Trigger').item.json.title }}",
        "emailType": "text",
        "message": "={{ $json.message.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "3ec5b148-c2a2-48fc-a457-226cb84dd0aa",
      "name": "Send a message",
      "webhookId": "b100bfec-c1bc-4d44-815e-fc131bf15d92",
      "credentials": {
        "gmailOAuth2": {
          "id": "uXS45rYCOba6Y116",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Cal.com Trigger').item.json.attendees[0].email }}",
        "additionalFields": {
          "firstName": "={{ $('Cal.com Trigger').item.json.attendees[0].name }}"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "2282265d-8f1b-4d4a-a8a2-e9c4000ec1f8",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "IgIvw1vRrAXscrd2",
          "name": "HubSpot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cal.com Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c92e9eae-73d4-4899-a2a6-77decd0193a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b850b2ec6298353b213df5691b230f20698bc7d222e8f8e20aedeaef497246bf"
  },
  "id": "scdqe5mgXy4dFOdo",
  "tags": []
}